<div class="wrapper">
    		
    		<div class="card radius shadowDepth1">
    			<div class="card__content card__padding">
    				<article class="card__article">
	    				<h2><a href="#">{{game.gameName}}</a></h2>

	    				<p>Join game if u think u can win..</p>
	    			</article>
	    			
    				<div class="card__meta">
    					<a href="#">Player 1 :</a>
                        <time>{{game.player1}}</time>
                        <br/>
                        <a href="#">Player 1 :</a>
                        <time>{{game.player1}}</time>
    				</div>

    				
    			</div>

    			<div class="card__action">
    				
    				<div class="card__author">
    					<div class="card__author-content">
    						<button type="button" class="btn btn-success">Join Game</button>
    					</div>
    				</div>
    			</div>
    		</div>

            <p class="text-center">Created By <a href="https://twitter.com/mithicher">{{game.createdUser}}</a></p>
    	</div>